.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
   
    border: none;
    outline: none;
    /* background: transparent; */
    
    border-radius: 100%;
    z-index: 9;
}
.slick-next {
    right: -10px;
}
.slick-prev::before{
    
    font-size: 60px;
    color: #699A2D;
}
.slick-next::before{
    
    font-size: 60px;
    color: #699A2D;
}